<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Заказанные товары</title>
</head>
<body>
<h2>Заказанные товары</h2>

<h3>За последние 7 дней (неделю)</h3>
<ul>
    {% for item in last_7_days_items %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>

<h3>За последние 30 дней (месяц)</h3>
<ul>
    {% for item in last_30_days_items %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>

<h3>За последние 365 дней (год)</h3>
<ul>
    {% for item in last_365_days_items %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>
</body>
</html>